beautifulsoup4==4.12.2
cartopy==0.21.1
Flask==2.3.2
langchain==0.0.248
matplotlib==3.7.2
mayavi==4.8.1
networkx==3.1
numpy==1.25.1
pandas==2.0.3
Pillow==9.5.0
Pillow==10.0.0
pinecone_client==2.2.2
python-dotenv==1.0.0
scipy==1.11.1
seaborn==0.12.2
slack_bolt==1.18.0
slack_sdk==3.21.3
streamlit==1.25.0
tqdm==4.65.0
